body
{
	position: relative;
}

.bigFormContainer
{
	background: rgba(230, 230, 230, 1);
	background: rgba(237, 224, 221, 1);
}

.form1Style
{
	padding: var(--pd-600);
	height: 65%;
	width: 80%;
	margin: 5% 10%;
	border-radius: 2rem;

	background: rgb(24, 24, 24);
}


.form2Style
{
	border-radius: 2rem;

	background: rgb(24,24,24);
	color: rgb(250,250,250);
	padding: var(--pd-600);

}

.successLegend
{
	position: relative;
	background: white;
	width: 50%;
	margin: auto;
	top: 3%;
	font-weight: 400;
	letter-spacing: .1rem;
	font-size: var(--fs-600);
	padding: var(--pd-200);
	text-align: center;
}

.successLegend a
{
	font-style: none;
	text-decoration: none;
	background: RGB(33, 150, 243);
	color: rgb(250,250,250);
	padding: var(--pd-rl-300);

	transition: 300ms;
}

.successLegend a:hover
{
	letter-spacing: .2rem;
	padding: var(--pd-rl-400);
}

.FormLine
{
	border-top: double .2rem rgb(250, 250, 250);
}


.fields
{
	display: flex;
	flex-wrap: wrap;
}

.largeFieldElement
{
	width: 95%;
	margin: 1% 2.5%;
	padding: var(--pd-400);
}

.fieldElement
{
	width: 40%;
	margin: 1% 2.5%;
	padding: var(--pd-400);

}

.centerField
{
	width: 50%;
	margin: 1% 25%;
	text-align: center;
	padding: var(--pd-400);

}

.submitBtn
{
	font-family: "Black_Mango";
	font-size: var(--fs-600);
	letter-spacing: 0.5rem;
	font-weight: 600;

    background:RGB(245, 202, 59); 
    color: rgb(24, 24, 24);

    width: 90%;
    margin: 1rem auto;
	padding: var(--pd-400);

    border: solid rgba(24, 24, 24, 1.0) .1rem;
    display: block;

	transition: 300ms;
}

.submitBtn:hover
{
	letter-spacing: 0.5rem;
    background:RGB(171, 201, 237, .9); 	
}


.hyStyle
{
	font-family: Black_Mango;
	letter-spacing: .3rem;
	font-size: 1.4rem;

	text-align: center;
	text-decoration: none;

	color: rgba(24, 24, 24, 1.0);
	background: rgba(230, 230, 230, 1.0);

	width: 90%;
	margin: 1rem auto;
	padding: var(--pd-300);

	display: block;
	position: relative;
	border: solid .1rem black;

	transition: 300ms;
}

.hyStyle:hover
{
	letter-spacing: .27rem;

	background: rgba(200, 200, 200, .9); 
}

.acceptBtn
{
	background: RGB(72, 74, 60);
	color: rgba(250, 250, 250, 1.0);

}

.acceptBtn:Hover
{
	background: RGB(72, 74, 60, 0.85);

}


.warningBtn
{
	background: RGB(246, 138, 45);
	color: rgba(250, 250, 250, 1.0);

	transition: 300ms;
}

.warningBtn:hover
{
	background: RGBA(246, 138, 45, 0.4);
}

.dangerBtn
{
	background: RGB(255, 69, 69);
	color: rgba(250, 250, 250, 1.0);
}
.dangerBtn:hover
{
	background: RGB(255, 69, 69, 0.6);
}


.TitleForm
{
	font-family: Black_Mango;
	letter-spacing: .3rem;
	color: rgb(250, 250, 250);
	font-weight: 500;
	font-size: var(--fs-800);
	padding: 1rem;
	text-align: center;

	border-bottom: solid .1rem rgba(230, 230, 230, 1.0);

}

.FormLabel
{
	color: rgb(250, 250, 250);
}

input, textarea, select
{
	transition: 300ms;
}

input:focus, textarea:focus, select:focus
{
	background: rgba(220, 220, 220, 1); 

}
