.carouselContainer
{
	width: 100%;
	background: rgb(24, 24, 24);
	padding: 0;
}

.carousel-control-prev, .carousel-control-next
{
	width: 5%;
	z-index: 1;

	transition: 200ms;
}

.carousel-control-prev:hover, .carousel-control-next:hover
{
	scale: .9;
	background: rgba(255, 255, 255, .05);
}

.carousel-control-prev-icon, .carousel-control-next-icon
{
	color: blue;
}

.heading
{
	display: flex;
	justify-content: center;
	align-items: start;
	flex-flow: column;

	position: absolute;
	color: rgba(237, 224, 221, 1);
	background: rgba(24, 24, 24, .6);


	width: 100%;
	height: 100%;

	z-index: 1;
}


.heading *
{
	position: relative;
	border-bottom: rgba(237, 224, 221, 1) .1rem solid;
	
	padding: var(--pd-300);

	text-shadow: .1rem .1rem .1rem rgba(24,24,24, 1);
	left: 10%;
	margin: 1% 0%;
}

h1
{
	font-family: Black_Mango;
	font-size: var(--fs-900);
	font-weight: 300;
	letter-spacing: 1.4rem;
}

.normalText
{
	width: 40%;
	text-align: justify;


	font-family: Black_Mango;
	font-size: var(--fs-500);
	letter-spacing: .5rem;
	line-height: 2.2rem;
}


.carousel-item img
{
	width: 90%;
	margin: 0 5%;
	max-height: 75vh;

	object-fit: cover;
	aspect-ratio: 1/1;
} 

@media screen and (max-width: 1000px) 
{
	.heading .normalText
	{
		font-size: var(--fs-300);
		width: 80%;

	}
	h1
	{
		font-size: var(--fs-700);
	}
}
