.heroImgContainer
{
	position: relative;
	padding: 0;
	margin: 0;
}

.heroImg
{
	aspect-ratio: 1/1;
	position: relative;
	height: 50rem;
	width: 100%;
	object-fit: cover;
}

.headingBox
{
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(24, 24, 24, 0.65);

	display: flex;
	align-items: center;
	justify-content: center;
}


.headingTitle
{
	font-family: Black_Mango;
	letter-spacing: 1.2rem;

	color: rgba(237, 224, 221, 1);
	font-weight: 300;
	font-size: var(--fs-800);
	padding: 1rem;
	text-align: center;

	border: solid white .1rem;
}


.technicalSheet
{
	width: 95%;
	margin: 1rem auto;

	padding: var(--pd-300);
	font-size: 1.1rem;

}

.lineProyect
{
	border: solid rgba(24, 24, 24, .6) .1rem;
}

.technicalData
{
	border-bottom: solid .1rem rgba(24, 24, 24, 1.0);
	padding: var(--pd-500);
	text-align: left;

	margin: 1.4rem;
	font-weight: 400;
	letter-spacing: .1rem;

	color: rgba(24, 24, 24, .7);
}

.technicalTitle
{
	letter-spacing: .2rem;
	font-weight: 600;
	margin: 0 1rem 0 0;

	color: rgba(24, 24, 24, 1);
}

.descriptionProject
{
	width: 95%;
	margin: 2rem auto;

	text-align: justify;
	font-size: 1.2rem;
	letter-spacing: .12rem;
	line-height: 2.9rem;
	padding: var(--pd-200);
}

.gallery .headingTitle
{
	width: 95%;
	margin: auto;
}

.images
{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;

}

.imgGallery
{
	width: 40%;
	margin: 1% 5%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.hyStyle
{
	font-family: Black_Mango;
	letter-spacing: .3rem;
	font-size: 1.4rem;
	text-align: center;
	text-decoration: none;
	color: rgba(24, 24, 24, 1.0);
	background: rgba(230, 230, 230, 1.0);

	width: 90%;
	margin: 1rem auto;
	display: block;
	position: relative;
	padding: var(--pd-300);
	border: solid .1rem black;

	transition: 300ms;
}



.hyStyle:hover
{
	background: rgba(200, 200, 200, .65);
}

.warningBtn
{
	background: RGB(246, 138, 45);
	color: rgba(250, 250, 250, 1.0);

	transition: 300ms;
}

.warningBtn:hover
{
	background: RGBA(246, 138, 45, 0.4);
}	

.actionsOpt form
{
	margin: 1rem;

}
.actionsOpt
{
	padding: var(--pd-400);
	margin: 1rem auto;
	width: 75%;

	display: flex;
	flex-flow: column;
	justify-content: center;
}

.checkFix
{
	display: flex;
	flex-flow: row;
	text-align: center;
}

.conCheck
{
	font-size: 1.1rem;
	font-weight: 300;
	letter-spacing: .01rem;

	margin: 0 1rem 0 0;
}

